/* HEADER */
header {
    width: 100%;
    background-color: $background;

    .nombreEmpresa {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 600px) {
    /* HEADER */
    header {
        .nombreEmpresa {
            font-size: 2.5rem;
        }
    }
}