/* MAIN */
/* INICIO, MUJER Y HOMBRE */
.pageSector {
    .nuevaTemporada {
        width: 95%;
        margin: 0.75rem auto;
    }

    .sectorGaleria {
        .button {
            color: white;
            background-color: black;
            border-radius: 0;

            &:hover {
                background-color: white;
                color: black;
                transition: 0.5s;
            }
        }
    } 
}

/* PÁGINA DE UBICACIÓN */
.pageSector {
    .local {
        @extend .nuevaTemporada;
        display: block;
    }

    .iframe {
        text-align: center;
        margin: 1rem;
    }
}

/* PÁGINA DE CONTACTO */
.formulario {
    background: linear-gradient(to bottom, #f2994a, #f2c94c);
    
    form {
        min-width: 12rem;
        border-radius: 0.75rem;
        background-color: white;
        margin: 2rem auto;
        display: grid;

        h2 {
            text-align: center;
            font-size: 1.5rem;
            align-self: center;
        }

        input {
            @include formInput();
        }

        textarea {
            @include formInput();
        }

        .formButton {
            font-family: inherit;
            font-size: 1rem;
            background-color: #3498DB;
            color: white;
            border: none;
            border-radius: 0.75rem;
            margin: 0.5rem;
        }
    }
}

@media screen and (max-width: 576px) {
    /* MAIN */
    /* INICIO, MUJER Y HOMBRE */
    .sectorGaleria {
        width: 50%;

        .precio {
            font-size: 1rem;
            font-weight: bold;
        }

        .descripcion {
            font-size: 0.75rem;
        }

        .button {
            font-size: 0.75rem;
        }
    }
}

@media screen and (min-width: 600px) {
    /* MAIN */
    /* PÁGINA DE UBICACIÓN */
    iframe {
        width: 30rem;
        height: 30rem;
    }

    /* PÁGINA DE CONTACTO */
    .formulario {
        form {
            width: 30rem;
            border: 1px solid black;
            box-shadow: 0.25rem 0.20rem 0.5rem;
        }

        h2 {
            font-size: 3rem;
        }

        input {
            font-size: 2rem;
        }

        textarea {
            font-size: 2rem;
        }

        .formButton {
            font-size: 2rem;
        }
    }
}