$background: #B3B6B7;
$footer: (titulo: 1rem, texto: 0.75rem);

/* MIXIN */
@mixin formInput {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 0.75rem;
    outline: none;
    padding: 0.5rem;
    margin: 0.5rem;
}